body {
  background: #f2f4f5;
}
body, textarea {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
form {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1px 3px #c7ced2;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input, button, textarea {
  padding: 15px;
  font-size: 16px;
}
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
}
button {
  text-transform: uppercase;
}
button {
  -webkit-appearance: none;
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
.btn-submit {
  margin-top: 1rem;
}
.msg--error {
  text-align: center;
  color: #f00;
}
.notes-ctr {
  max-width: 1200px;
  margin: 2rem auto auto;
}
.note-form-create {
  max-width: 500px;
  border-radius: 4px;
  margin: 2rem auto;
}
.notes-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-top: 1px solid #f2f4f5;
}
.notes-item-btns {
  margin-top: 1rem;
  text-align: right;
}
@media (min-width: 600px) {
  .notes-item {
    flex-direction: row;
    align-items: baseline;
  }
  .notes-item-btns {
    margin-top: 0;
  }
}
.btn-edit {
  margin-right: 1rem;
  background-color: #1757ab;
}
.btn-del {
  background-color: #f2f4f5;
  color: #f00;
}
.hidden {
  display: none;
}
